<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>

<h1>Редактирование пользователя</h1>

<form method="post" th:action="@{/users/update}" th:object="${user}">
    <!-- Все поля пользователя, включая скрытый ID -->
    <input type="hidden" th:field="*{id}">

    <div>
        <label>Имя:</label>
        <input type="text" th:field="*{username}">
    </div>

    <div>
        <label>Фамилия:</label>
        <input type="text" th:field="*{password}">
    </div>


    <button type="submit">Сохранить</button>
</form>

<a th:href="@{/dashboard}">Назад к списку</a>

</body>
</html>