<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление пользователя</title>
</head>
<body>
<form method="post" th:action="@{/admin/new}" th:object="${user}">
    <label for="username">ИМЯ:</label>
    <input type="text" th:field="*{username}" id="username"/>

    <label for="lastName">ФАМИЛИЯ:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <label for="age">ВЩЗРАСТ:</label>
    <input type="text" th:field="*{age}" id="age"/>

    <label for="email">EMAIL:</label>
    <input type="text" th:field="*{email}" id="email"/>

    <label for="password">PASSWORD:</label>
    <input type="text" th:field="*{password}" id="password"/>

    <br>
    <input type="submit" value="Create!"/>
</form>
<a th:href="@{/logout}">Выйти</a>
</body>
</html>